@import "../common";

@h-craft-bar: 60px;
@h-item-list: 193px;
@h-spec-list: 250px;
@h-more: 121px;

@craft-node-color: lighten(@node-color, 35%);
@panel-text-color: darken(@base-color, 35%);
@panel-head-color: lighten(@base-color, 35%);
@panel-list-color: lighten(@base-color, 45%);

.head() {
  background-color: @panel-head-color;
  color: @panel-text-color;

  padding: .5rem;
  position: relative;
}

.head-icon() {
  i {
    cursor: pointer;
    padding: 1px 2px;
    color: darken(@base-color, 30%);

    position: absolute;
    top: 7px; right: 6px;
  }
  i:hover {
    border: 1px dotted darken(@base-color, 40%);

    top: 6px; right: 5px;
  }
}

.bom {
  font-size: .75rem;

  .craft-bar {
    background-color: @panel-head-color;
    position: relative;
    margin: @h-gap 0;
    height: @h-gap*8;

    .node {
      background-color: @craft-node-color;
      display: inline-block;
      position: absolute;
      margin: @h-gap @w-gap;
      padding: @h-gap*2 @w-gap*2;
      border: 1px solid gray;

      &.selected {
      }

      &.craft {
        right: 0;
      }

      >i {
        position: absolute;
        top: 18px; left: 63px;
      }
    }
  }

  .item-list,.item-alt-list {
    background-color: @panel-list-color;

    >.head {
      .head;
    }
    >.list {
      height: @h-item-list;
      overflow: auto;
      >table {
        width: 100%;
      }
    }
  }
  .item-list {
    margin-bottom: @h-gap;

    >.head {
      .title {
        display: inline-block;
        font-weight: bold;
      }
      .head-icon;
    }
  }

  .spec-list {
    margin-left: @w-gap;
    margin-bottom: @h-gap;

    .head {
      .head;
      input {
        position: absolute; top: .3rem;
        width: 4em; margin-left: .2rem;
        text-align: right;
      }
      span:last-child {
        position: absolute; right: 2.5rem;
      }
      .head-icon;
    }
    .list {
      background-color: @panel-list-color;
      height: @h-spec-list;
      overflow: auto;
    }
  }

  .more {
    background-color: @panel-head-color;
    margin-left: @w-gap;
    height: @h-more;
    overflow: auto;
  }

}
